body {
    font-size: 100%;
    width: 50%;
    margin: 100px auto;
}

fieldset {
    margin: 10px auto;
}

legend {
    font-style: italic;
    font-size: 18px;
    color: #666666;
    padding: 5px;
}

input {
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    padding: 5px;
    margin: 5px 5px;
    resize: vertical;
}

#patient_name_field {
    width: 96.4%;
}

textarea {
    width: 95%;
    height: 150px;
    margin: 10px 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    resize: none;
}

#add_btn {
    width: 98%;
    height: 40px;
    margin: 5px;
    padding: 5px 5px;
    border-radius: 6px;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
}

#search_field {
    width: 90%;
    margin-right: 12px;
}

#search_btn {
    border-radius: 60%;
    padding: 5px;
    cursor: pointer;
}

#list_of_patients {
    padding: 25px;
    border: 2px solid grey;
    overflow: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;
    margin-left: 10px;
}






